<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <title>Tareas</title>
</head>
<body>
<main>
    <div class="px-4 py-5 my-5 text-center">
        <div class="my-5">
            <h1 class="display-5 fw-bold mb-4"> Mis tareas </h1>
            <a href="/tasks/new" class ="btn btn-secondary"> Crear nueva tarea</a>
        </div>

        <div class="d-flex gap-4 justify-content-center">
            <!-- Un atributo del frontController es el servicio Tareas, que es la variable que se llama acá-->
            <div th:each="varTask :${Tareas}" class="card" style="width: 18rem;">
                <div th:switch="${varTask.done}">
                    <img th:case="true" src="img/Hecho.png" class="card-img-top" alt="img tarjeta" style="width:60px">
                    <img th:case="false" src="img/enProceso.png" class="card-img-top" alt="img tarjeta" style="width:60px">
                </div>

                <div class="card-body">
                    <h5 class="card-title" th:text ="${varTask.description}"></h5>
                    <p class="card-text" th:text="${varTask.due_date}"></p>
                    <div class="d-flex flex-column gap-3">
                        <div th:if="${!varTask.done}">
                                <form th:method="patch" th:action="@{/task/{id}(id=${varTask.id})}">
                                <button type="submit" class="btn btn-primary">Finalizar tarea</button>
                                </form>
                        </div>
                        <div>
                            <form th:method="delete" th:action="@{/task/{id}(id=${varTask.id})}">
                                <button type="submit" class="btn btn-danger">Eliminar tarea</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="img tarjeta">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="img tarjeta">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
        </div>
    </div>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>
</html>